<dom-module id="basic-travel-types">
	<template>
		<style>
		:host {
			display: block;
			width: 100%;
			padding-bottom: 10px;
		}
	</style>
	<paper-datatable-card id="dataTableCard" header="{{localize('travel-types')}}" data-source="{{data}}" page-size="10" id-property="id" selected-ids="{{selectedIds}}">
		<div slot="toolbar-main">
			<paper-icon-button id="btnAddItem" icon="icons:add" on-tap="onAddItemClicked"></paper-icon-button>
			<paper-tooltip for="btnAddItem">{{localize('add-item')}}</paper-tooltip>
		</div>
		<template is="dom-if" if$="[[canDelete('bt')]]">
			<div slot="toolbar-select">
				<paper-icon-button id="btnDeleteItems" icon="delete" on-tap="onDeleteItemsClicked"></paper-icon-button>
				<paper-tooltip for="btnDeleteItems">{{localize('delete-items')}}</paper-tooltip>
			</div>
		</template>
	</div>
	<paper-datatable id="datatable" selectable selected-item="{{selectedItem}}" selected-key="{{selectedId}}">
		<div no-results>
			{{localize('table-loading')}}
		</div>
		<paper-datatable-column header="{{localize('column-id')}}" property="id" sortable align="center" style="width: 10%" sorted></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-title')}}" property="title" editable dialog edit-icon style="width: 30%"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-initial')}}" property="initial" editable type="Number" style="width: 15%"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-every-km')}}" property="every_km" editable type="Number" style="width: 15%"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-every-min-gone')}}" property="every_minute_gone" editable type="Number" style="width: 15%"></paper-datatable-column>
		<paper-datatable-column header="{{localize('column-every-min-wait')}}" property="every_minute_wait" editable type="Number" style="width: 15%"></paper-datatable-column>
	</paper-datatable>
	
</paper-datatable-card>
</template>
<script>
	let widgetTravelTypes;
	Polymer({
		is: 'basic-travel-types',
		behaviors:[
		MyLocalizeBehavior
		],
		properties:{
			data:{
				type:Object,
				value:{
					get: function (sort, page, pageSize) {
						let result = getBaseTypes('travel_type', sort, (page - 1) * pageSize, pageSize);
						result.then(function (items) {
							widgetTravelTypes.set('data.length', items.length ? items[0].count : 0);
						});
						return result;
					},
					set: function (item, property, value) {
						return setColumnValue('travel_type', item.id, property, value);
					},
					length:0
				}
			}
		},
		attached: function () {
			widgetTravelTypes = this;
		},
		onAddItemClicked: function () {
			socket.emit('addBaseType', 'travel_type', function (insertId) {
				widgetTravelTypes.$.dataTableCard.retrieveVisibleData();
				widgetTravelTypes.selectedIds = [insertId];
			});
		},
		onDeleteItemsClicked: function () {
			socket.emit('deleteBaseTypes', 'travel_type', this.selectedIds, function () {
				widgetTravelTypes.$.dataTableCard.retrieveVisibleData();
				widgetTravelTypes.$.dataTableCard.deselectAll();
			});
		}
	});
</script>
</dom-module>